@mixin centerContainer() {
    display: flex;
    justify-content: center;
    align-items: center;
}

$barSize: 170px;

.gameinfo {
    position: relative;
    top: 0.3rem;
    background-color: transparent;
    border: 0;

    .card-body {
        @include centerContainer;

        @keyframes shadow {
            0%{
                box-shadow: 0 0 4px rgb(5, 226, 226),
                            0 0 3px rgb(49, 226, 5),
                            0 0 4px rgb(189, 117, 22);
            }

            60%{
                box-shadow: 0 0 19px rgb(226, 149, 5),
                            0 0 18px rgb(49, 226, 5),
                            0 0 20px rgb(226, 49, 5);
            }

            100%{
                box-shadow: 0 0 5px rgb(226, 5, 5),
                            0 0 8px rgb(226, 75, 5),
                            0 0 7px rgb(169, 22, 189);
            }
        }

        .progress {
            position: relative;
            min-width: $barSize;
            min-height: $barSize;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            transition: all 1s;
            animation: infinite shadow 13s ease;

            @keyframes borderSize {
                0% {
                    border: 1px solid rgb(5, 163, 226);
                }

                20% {
                    border: 2px ridge rgb(5, 163, 226); 
                }

                50% {
                    border: 3px double rgb(226, 149, 5); 
                }

                100% {
                    border: 1px groove rgb(226, 49, 5); 
                }
            }

            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #001;
                border-radius: 50%;
                transition: border 1s;
                animation: infinite borderSize 13s ease;

                .infodetails {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    label {
                        display: block;
                        text-align: center;

                        &:nth-child(1) {
                            color: rgb(255, 0, 212);
                            font-size: 30pt;
                            font-family: "Courier New", Courier, monospace, sans-serif;
                            text-shadow: 0 0 2px rgb(226, 149, 5),
                                0 0 2px rgb(49, 226, 5), 0 0 2px rgb(226, 49, 5);
                        }

                        &:nth-child(2) {
                            font-size: 7pt;
                            font-family: Cambria, Cochin, Georgia, Times,
                                "Times New Roman", serif;
                        }
                    }
                }
            }
        }

        label {
            color: #fff;
            font-size: 40pt;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
                sans-serif;
        }
    }
}