/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$blockSize: 60px;

.block{
    width: $blockSize;
    height: $blockSize;
    background-color: red;
    border: 1px solid #000;
    border-radius: 4px;
}