/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$blockSize: 28px;

.rowBlock {
    display: flex;
    flex-wrap: nowrap;
    // gap: .2rem;
    // margin-bottom: .2rem;

    .block {
        width: $blockSize;
        height: $blockSize;
        background-color: rgb(19, 9, 9);
        border: 1px solid rgb(34, 34, 34);
        background-size: cover;
        // border-radius: .2rem;
    }
}