<div class="fluid-container canvas">
  <div class="startGame" *ngIf="!isGameStarted">
    <game-banner (startGameEmitter)="setStartGame($event)"></game-banner>
  </div>
  <div class="row m-0 d-block">
    <game-navigation></game-navigation>
    <div class="gameBody">
      <div class="gameInfo">
        <game-info [type]="'points'" [score]="playerScore"></game-info>
      </div>
      <div class="gameArea">
        <video
          #bgVideoUnderlay
          class="video-bg"
          src="../../../assets/bgVid.mp4"
          [volume]="0.5"
          [loop]="true"
        > 
      </video>
        <game-playground
          [videoElement]="bgVideo"
          [startGame]="isGameStarted"
          (scoreEmitter)="setPlayerScore($event)"
          (gameOverEmitter)="setGameState($event)"
          (gameLevelEmitter)="increaseLevel()"
        ></game-playground>
      </div>
      <div class="levelArea">
        <game-info [type]="'level'" [level]="gameLevel"></game-info>
      </div>
    </div>
  </div>
</div>
