$blockbg: rgba(220, 252, 252, 0.4);
$borderRadius: 10px;

.canvas {
  position: relative;
  background-image: url("../../../assets/planets.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  h1 {
    color: chocolate;
  }

  .gameBody {
    padding: 1rem;

    div:nth-child(1){
      background-color: $blockbg;
      border-radius: $borderRadius 0 0 $borderRadius;
    }

    div:nth-child(2) {
      background-color: $blockbg;
      border: 3px dotted rgb(114, 5, 72);
    }

    div:nth-child(3){
      background-color: $blockbg;
      border-radius: 0 $borderRadius $borderRadius 0;
    }
  }
}
