<div class="fluid-container canvas">
  <div class="row m-0 d-block">
    <game-navigation></game-navigation>
    <div class="gameBody">
      <div class="gameInfo">
        <game-info [type]="'points'" [score]="playerScore"></game-info>
      </div>
      <div class="gameArea">
        <video
          #bgvideo
          class="video-bg"
          src="../../../assets/bgVid.mp4"
          [volume]="0.5"
          [autoplay]="true"
          [muted]="true"
          [loop]="true"
        > 
      </video>
        <game-playground
          (scoreEmitter)="setPlayerScore($event)"
          (gameOverEmitter)="setGameState($event)"
        ></game-playground>
      </div>
      <div class="levelArea">
        <game-info [type]="'level'" [level]="gameLevel"></game-info>
      </div>
    </div>
  </div>
</div>
