.canvas {
  position: relative;
  background-image: url("../../../assets/planets.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  h1 {
    color: chocolate;
  }

  .gameBody {
    padding: 2rem;

    div:nth-child(1){
        background-color: grey;
    }

    div:nth-child(2) {
      background-color: rgb(220, 252, 252);
    }

    div:nth-child(3){
        background-color: greenyellow;
    }
  }
}
